.section-promo {
    padding-top: 30px;
    background-color: #F9F9F9;
}

.promo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 378px;

    @media @screen-gt-s {
        flex-direction: row-reverse;
        justify-content: space-between;
        height: 310px;
    }

    @media @screen-gt-m {
        height: 480px;
    }
}

.promo {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__description {
        font: 26px/36px @font-family-heading;
        font-weight: 400;
        width: 290px;
        height: 64px;
        text-align: center;
        margin-bottom: 20px;

        @media @screen-gt-s {
            font: 36px/44px @font-family-heading;
            text-align: left;
            width: 334px;
            height: 132px;
        }

        @media @screen-gt-m {
            text-align: left;
            width: 388px;
            height: 88px;
        }
    }

    &__button {
        font: 14px/20px Arial, sans-serif;
        background-color: @button-bg-color;
        color: @button-text-color;
        width: 150px;
        height: 38px;
        margin-bottom: 30px;
    }

    @media @screen-gt-s {
        align-items: flex-start;
    }
}
